<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Record</title>
        <link rel="stylesheet" th:href="@{https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css}" />
        <script th:src="@{https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js}"></script>
        <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js}"></script>
        <style>
            body {
                margin-top: 20px;
                margin: 0 auto;
            }

            .carousel-inner .item img {
                width: 100%;
                height: 300px;
            }

            table {

            }

            table th {
                border-right: 1px solid #000000;
                border-left: 1px solid #000000;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }

            table td {
                border-right: 1px solid #000000;
                border-left: 1px solid #000000;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }
            strong {
                font-size: 30px;
            }
        </style>
    </head>
    <!--<body>
        <h1>Record List</h1>
        <h2>Welcome!</h2>

        <table>
            <thead>
                <tr>
                    <th>Record number</th><th>Service Name</th><th>Service Number</th><th>Total money</th><th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="records : ${recordlist}">
                    <td th:text="${records.id}"></td><td th:text="${records.Service_name}"></td><td th:text="${records.Service_number}"></td>
                    <td th:text="${records.Total_money}"></td><td th:text="${records.State}"></td>
                </tr>
            </tbody>
        </table>
    </body>-->
    <body>
        <div th:class="container">
            <div class="row" th:class="row">
                <div style="margin: 0 auto; margin-top: 10px; width: 950px;">
                    <strong>My Appointment Record</strong>
                    <br>
                    <!--<div>
                        <button onclick="getRecordList()">All Records</button>
                        <button onclick="getUnderwayList()">Underway Records</button>
                    </div>-->

                    <ul>
                        <li><a th:href="@{/list(state=All)}">All Records</a></li>
                        <li><a th:href="@{/list(state=Underway)}">Underway Records</a></li>
                    </ul>

                    <!--<a th:href="@{/list}">All Records</a>-->
                    <!--<a th:href="@{/list?State=underway}">Underway</a>-->
                    <table class="table table-bordered" th:class="${condition} ? 'table-bordered' : ''">
                        <div th:each="records : ${recordlist}">
                            <tbody>
                                <tr th:class="table-success">
                                    <th colspan="5"><span th:text="${records.time}"></span>&nbsp;&nbsp;&nbsp;Record Number: <span th:text="${records.id}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger" th:attr="data-record-id=${records.id}" onclick="showConfirmDialog(this);">Delete</button>
                                    </th>
                                </tr>
                                <tr th:class="warning">
                                    <th>Service Name</th>
                                    <th>Service Number</th>
                                    <th>Total Money</th>
                                    <th>State</th>
                                    <th>Operation</th>
                                </tr>
                                <tr>
                                    <td width="25%"><a target="_blank" th:text="${records.Service_name}"></a></td>
                                    <td width="10%" th:text="${records.Service_number}"></td>
                                    <td width="20%"><span th:text="'￥' + ${records.Total_money}"></span></td>
                                    <td width="20%"><a target="_blank" th:text="${records.state}"></a></td>
                                    <td width="25"><a th:href="@{/record/list/details/{id}(id=${records.id})}">Record Details</a></td>
                                </tr>
                                <tr style="height: 30px; border-bottom: none;"></tr>
                            </tbody>
                        </div>
                    </table>
                    <!--<script>
                        function getRecordList() {
                            window.location.href = "/list";
                        }
                        function getUnderwayList() {
                            window.location.href = "/list?Underway=true";
                        }
                    </script>-->
                    <div>
                        <ul class="pagination">
                            <li class="page-item" th:class="${currentPage == 1 ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/record/list(page=1,size=${size})}">Home Page</a>
                            </li>
                            <li class="page-item" th:class="${currentPage == 1 ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/record/list(page=${currentPage - 1},size=${size})}">Previous page</a>
                            </li>
                            <li class="page-item" th:class="${currentPage == totalPages ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/record/list(page=${currentPage + 1},size=${size})}">Next page</a>
                            </li>
                            <li><span th:text="${currentPage}"></span>page, Total<span th:text="${totalPages}"></span>pages</li>

                        </ul>
                    </div>
                    <script type="text/javascript">
                        function showConfirmDialog(button) {
                            var id = button.getAttribute("data-record-id");
                            if (confirm("Do you really want to delete this record?")) {

                                window.location.href = "/record/list/delete?id=" + id;
                            }
                        }
                    </script>
                </div>
            </div>

        </div>
    </body>
</html>
