<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Record</title>
    </head>
    <body>
        <h1>Record Home Page</h1>


        <div><a th:href="@{/record/list}">Record List</a></div>

    </body>
</html>