<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Record</title>
        <style>
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 70vh;
            }
            body {
                margin-top: 20px;
                margin: 0 auto;
            }
            .item {
                margin-bottom: 10px;
            }
            .item-label {
                display: inline-block;
                width: 300px;
                font-weight: bold;
            }
            .item-value {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Record Details</h1>
            <div th:each="records : ${recordlist}">
                <div class="item">
                    <span class="item-label">Record Number</span>
                    <span class="item-value" th:text="${records.id}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Appointment Time</span>
                    <span class="item-value" th:text="${records.time}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Pet Type</span>
                    <span class="item-value" th:text="${records.Pet_type}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Pet Size</span>
                    <span class="item-value" th:text="${records.Pet_size}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Service Name</span>
                    <span class="item-value" th:text="${records.Service_name}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Service Number</span>
                    <span class="item-value" th:text="${records.Service_number}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Total Money</span>
                    <span class="item-value" th:text="'￥' + ${records.Total_money}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Record State</span>
                    <span class="item-value" th:text="${records.state}"></span>
                </div>
                <div class="item">
                    <span class="item-label">Grommer ID</span>
                    <span class="item-value" th:text="${records.Grommer_ID}"></span>
                </div>
                <div class="item">
                    <span class="item-label">User Account</span>
                    <span class="item-value" th:text="${records.Account}"></span>
                </div>
                <!--<div class="item">
                    <span class="item-label">项目列表：</span>
                    <ul>
                        <li th:each="item : ${order.items}">
                            <span th:text="${item.name} + ' x ' + ${item.quantity}"></span>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </body>
</html>